.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  font-family: var(--font-monospace);
  font-size: var(--text-sm);
  font-weight: 400;
  text-transform: uppercase;

  padding: var(--space-2xl) var(--space-lg);
  color: var(--color-neutral-dark);

  a {
    border-bottom: 1.5px solid transparent;
    font-weight: var(--medium);
  }

  a:hover {
    border-bottom-color: var(--color-primary);
    color: var(--color-primary);
  }
}
