.habit-list {
  .icon_wrapper {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
    border-radius: 50%;

    &.difficulty-1 {
      background: greenyellow;
    }
    &.difficulty-2 {
      background: green;
    }
  }
}
