header.header {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: var(--space-md);
  margin: 0 auto;
  max-width: var(--size-max-width);
  gap: var(--space-sm);
  margin-bottom: var(--space-md);

  .title {
    font-size: var(--text-3xl);
    font-weight: var(--bold);
    line-height: var(--solid);
    margin: 0;
    z-index: 1;
    font-weight: 700;
    letter-spacing: -2px;
  }
  .description {
    font-size: var(--text-xl);
    font-weight: 400;
    z-index: 1;
  }

  @media (min-width: 480px) {
  }

  @media (min-width: 768px) {
  }

  @media (min-width: 1024px) {
  }
}
