.page-wrapper {
  padding: var(--space-md);

  display: flex;
  flex-direction: column;
  gap: var(--space-xs);

  @media (min-width: 768px) {
    flex-direction: row;
    // max-width: var(--size-max-width);
    margin: 0 auto;
  }
}

.main-wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 840px;
}

.sidebar {
  min-width: 200px;
  padding: var(--space-md);
}

.content-section {
  max-width: 840px;
}

.section-item {
  padding-right: 40px;
  padding-left: 40px;
}

.hero-intro-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);

  background: var(--color-white);
  padding: var(--space-3xl) var(--space-md);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-primary);
  text-align: center;

  h2 {
    font-size: 30px;
  }
}

.habits-content {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  // @media (min-width: 768px) {
  //   flex-direction: row;
  // }

  // .sidebar {
  //   display: flex;
  //   flex-direction: column;
  //   gap: var(--space-md);
  //   padding: var(--space-lg) var(--space-xl);
  //   background: var(--color-white);
  //   box-shadow: var(--shadow-primary);
  //   border-radius: var(--radius-sm);

  //   @media (min-width: 768px) {
  //     width: 400px;
  //   }
  // }
}

.bottom-page-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;

  background: var(--color-white);
  padding: var(--space-md);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-primary);
}
