.page-wrapper {
  padding: var(--space-md);
  // @media (min-width: 768px) {
  //   max-width: 1080px;
  //   margin: 0 auto;
  // }
}

.content-section {
  max-width: 840px;
}

.section-item {
  padding-right: 40px;
  padding-left: 40px;
}

.homepage {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.hero-intro-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);

  background: var(--color-secondary);
  padding: var(--space-3xl) var(--space-md);
  border-radius: var(--radius-sm);
  text-align: center;

  h2 {
    font-size: 30px;
    color: var(--color-white);
  }
}

.category-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-xl);
  .category {
    font-family: var(--font-monospace);
    font-size: var(--text-xl);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    color: var(--color-primary);
  }
}
