.legend-wrapper {
  padding: var(--size-gutter) 0;
}

.difficulty-wrapper {
  margin: var(--space-lg) 0;
  display: flex;
  gap: var(--space-sm);
}

.color-difficulty {
  width: 20px;
  height: 20px;
  border-radius: 50%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: var(--text-xs);
  color: var(--color-white);
  font-weight: 600;
}

@media (max-width: 767px) {
}
