.mentor-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: var(--space-3xl);

  .avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: var(--space-md);
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .title {
    display: inline-block;
    font-size: var(--text-lg);
    margin: 0;
    border-bottom: 1.5px solid transparent;
  }

  .description {
    // margin: 10px 0;
    p {
      margin: 0;
    }
  }

  .link {
    display: grid;
    grid-template-columns: 80px auto;
    gap: var(--space-lg);
  }

  .link:hover .title {
    border-bottom-color: var(--primary);
  }

  .meta {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
  }

  // @media (min-width: 1024px) {
  //   .habit {
  //     display: flex;
  //   }
  // }
}
