.tags {
  display: flex;
  gap: var(--space-md);
}

.tag {
  color: var(--black-fade-80);
  text-transform: uppercase;
  font-size: var(--text-xs);
  font-weight: 500;
}

.tag {
  background-color: var(--black-fade-8);
  border-radius: var(--radius-sm);
  line-height: var(--solid);
  padding: var(--space-sm) var(--space-md);
  text-transform: uppercase;
  font-size: var(--text-xs);
  font-weight: 500;
  color: var(--black-fade-50);
}
